@using SearchMyHome.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log in";
}

<h2>Iniciar Sesión</h2>
<br/>
<div class="ui stackable grid">
    <div class="ui eight wide column segment">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="ui form">
                <div class="field">
                    <label>Nombre Usuario</label>
                    @Html.TextBoxFor(model => model._UserName,new { @placeholder="Nombre Usuario"})
                    
                 </div>
                <div class="field">
                    <label> Password</label>
                    @Html.TextBoxFor(model => model._Password,new {@placeholder="Password",@type="Password" })
                </div>
                <div class="field">
                    <div class="ui slider checkbox">
                      @Html.CheckBoxFor(model => model._RememberMe)
                        <label>Recordame?</label>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field pull-left">
                        <input type="submit" class="ui button primary" value="Iniciar Sesión" />
                    </div>
                    
                   <div class="field">
                       <a href="@Url.Action("Register","Account")" class="ui button primary">Registrarte</a>
                   </div>
                </div>
                

            </div>
        }
        
    </div>
   
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $(document).ready(function () {
            $("#btn-iniciarSesion").css({"display":"none"});
        });

    </script>
}