<!DOCTYPE html>

<html>
<head>
    <!--Encoding-->
    <meta charset="utf-8" />
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Add more keywords for search engine-->
    <meta name="keywords" content="Buscar Casa, Search Home, Search House, Inmobiliario, Inmobiliaria Dominicana" />
   
    <!-- //for-mobile-apps -->
    <!--fonts load from google-->
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    
    <!--Site semantic ui-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet" />
    <!--Official Logo shortcut-->
    <link rel="shortcut icon" href="~/Content/image/OfficialLogo.png" />
    <link href="~/Content/Site.css" rel="stylesheet" />
  


    <title>@ViewBag.Title - Home Page</title>
</head>
<body>
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <div class="item search-header" >
                <div class="field">
                    <div class="ui search">
                        <div class="ui icon input">
                            <input class="prompt" type="text" id="search-main-input" onFocus="geolocate()" placeholder="Dirección">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div>
            <div class="right menu">
                <div class="right item">
                    @if (User.Identity.IsAuthenticated)
            {
                        <div class="ui inline dropdown ">
                            <div class="text">
                                <img class="ui avatar image" src="~/Content/semantic-ui/avatar/tom.jpg"> @User.Identity.Name
                            </div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item">Dashboard</div>
                                <div class="item"> <a href="@Url.Action("logOut","Account")">Cerrar sesión</a> </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <a class="ui primary button item" href="@Url.Action("Login","Account")">Iniciar sesión</a>
                        <a class="ui primary button item" href="@Url.Action("Register","Account")">Registrarse</a>
                    }

                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item">Inicio</a>
        <a class="item">Buscar Inmueble</a>
        <a class="item">Planes suscripción</a>
        <div class="right item">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="ui inline dropdown ">
                    <div class="text">
                        <img class="ui avatar image" src="~/Content/semantic-ui/avatar/tom.jpg"> @User.Identity.Name
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">Dashboard</div>
                        <div class="item"> <a href="@Url.Action("logOut","Account")">Cerrar sesión</a> </div>
                    </div>
                </div>

            }
            else
            {
                <a class="ui primary button" href="@Url.Action("Login","Account")">Iniciar sesión</a>
                    <a class="ui primary button" href="@Url.Action("Register","Account")">Registrarse</a>
            }

        </div>

    </div>


    <!-- Page Contents -->
    <div class="pusher">
        @RenderBody()
    </div>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">SearchMyHome</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Ayuda</a>
                        <a href="#" class="item">Contactenos</a>
                        <div class="right item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="ui inline dropdown ">
                                    <div class="text">
                                        <img class="ui avatar image" src="~/Content/semantic-ui/avatar/tom.jpg"> @User.Identity.Name
                                    </div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item">Dashboard</div>
                                        <div class="item"> <a href="@Url.Action("logOut","Account")">Cerrar sesión</a> </div>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <a class="ui primary button" href="@Url.Action("Login","Account")">Iniciar sesión</a>
                                <a class="ui primary button" href="@Url.Action("Register","Account")">Registrarse</a>
                            }

                        </div>
                        
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Servicios</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Mapa del sitio</a>
                        <a href="#" class="item">Cofianza y seguridad</a>
                        
                    </div>
                </div>
                <div class="seven wide column">
                    <p>SearchMyHome @DateTime.Now.Year. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
